@import "primeflex/primeflex.scss";
@import "primevue/resources/primevue.min.css";
@import "primeicons/primeicons.css";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: #000;
    color: #fff;
}

#app {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    height: calc(100vh - 2rem)
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;

    &:hover {
        color: #535bf2;
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}



.container {
    width: 100%;
    max-width: 1980px;
    background: rgb(28 2 30);
    padding-bottom: 260px;
}

.header {
    &-link {
        font-size: 10px;

        & a {
            margin-right: 10px;

            &.active {
                color: #fff;
            }
        }
    }

    &-table {
        width: 200px;
        font-size: 12px;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.1);

        table {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        tr {
            display: flex;
            flex-direction: column;
        }

        thead {
            tr {
                align-items: start;
            }
        }

        tbody {
            tr {
                align-items: end;
            }
        }
    }

    &-text {
        text-align: left;
        margin-left: 40px;
        position: relative;
    }
}

.title-wrapper,
.links-wrapper {
    position: relative;

    .pi {
        position: absolute;
        left: -30px;
        top: 0;
        line-height: 1.5;

        &.pi-arrow-left {
            font-size: 12px;
        }
    }
}

.title {
    font-weight: bold;
    font-size: 16px;
}

.pi.pi-circle-fill {
    font-size: 10px;
    color: red;
}

.select-buttons {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.action-icons {
    padding: 0 10px;
}

.content-wrapper {
    margin-left: 40px;
}

.card {
    padding: 2em;
}

.p-selectbutton .p-button {
    font-size: 10px;
    color: #f9fbfc;
    padding: 5px;
    border-radius: 5px;

    &:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    &:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    &:not(.p-highlight) {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.p-divider {
    border-top: solid 1px #fff;
    opacity: 0.5;
}

.p-divider-solid.p-divider-horizontal:before {
    border-top: solid 0px #fff;
}

.p-tabmenu {
    font-size: 14px;
}

.p-tabmenuitem {
    margin-right: 20px;
    padding-bottom: 8px;
    color: rgba(255, 255, 255, 0.507);

    &.p-highlight {
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    a {
        color: inherit;
    }
}

.p-button.p-highlight {
    background-color: rgb(68, 166, 231);
}

.p-selectbutton {
    margin-right: 10px;
}

.data-view {
    padding-top: 5px;
    background-color: rgba(169, 131, 172, 0.1);
}

.p-chart {
    width: 50%;
    background-color: rgba(169, 131, 172, 0.1);
    padding: 10px;
    margin-right: 30px;
    height: 220px;
}

.data-view-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    table {
        font-size: 12px;
        background-color: rgba(169, 131, 172, 0.1);
        padding: 5px;
        padding-bottom: 20px;
        padding-left: 40px;
        line-height: 1.7;
        height: 240px;

        td,
        th {
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-width: 0 0 1px 0;
        }

        tr:not(:first-child) {
            td:not(:first-child) {
                padding: 0 30px;
            }
        }
    }

    .p-datatable .p-datatable-wrapper {
        height: 240px;
        margin-right: 5px;
        overflow: hidden;
    }
}

.table-row {
    table {
        font-size: 12px;
        background-color: rgba(169, 131, 172, 0.1);
        padding: 5px;
        padding-left: 15px;
        line-height: 3.0;

        tr:not(:last-child) {

            td,
            th {
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-width: 0 0 1px 0;
            }
        }
    }
}

td:first-child {
    text-align: left;
}

.p-datatable-thead {
    tr {
        th:not(:first-child) {
            .p-column-header-content {
                justify-content: center;
            }
        }
    }
}